body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

p {
  color: #b3b3b3;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

a,
a:hover {
    text-decoration: none !important;
}

#modalAdd .modal-header {
	background-color: #07cc8b;
}

#modalUpdate .modal-header {
	background-color: #0dc4d7;
}

.modal-dialog {
	background-color: white;
	pointer-events: all;
	border-radius: 15px;
}

#modalDelete .modal-dialog {
	max-width: 400px;
}

@media (max-width: 775px) {
  .card {
    border: none;
  }
}